*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* as not made wrapper */
body{
  min-height: 100vh;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
  max-width: 1300px;
}

.card{
  width: 400px;
  height: max-content;
  display: flex;
  flex-direction: column;
}

.image{
  width: 380px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.refresh{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}